.btn {
    border-radius: 44px;
    text-align: center;
    margin: 0 auto;
  }
  
  
  .img {
    max-width: 200px;
  }

.slider-container{
    margin: 0 auto;
    overflow-x: hidden;
    /* border: 1px solid red; */
}

.slider{
    display: flex;
    cursor: grab;
}

.item{
    height: 40rem;
    max-width: 30rem;
    padding: 2rem;
}

.item img{
    height: 100%;
    width: 100%;
}
