.btn {
    border-radius: 44px;
    text-align: center;
    margin: 0 auto;
  }


  .search form{
    display: flex;
    justify-content: center;
    padding: 0 35%;
  }
  .search  .input__form{
    align-self: center;

  }
  
  .card-cont {
    min-width: 240px;
    margin: 80px 0 40px 0;
    padding: 20px 5px;
    text-align: center;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,.11), 0 5px 15px 0 rgba(0,0,0,.08);
  }
  
  .img {
    max-width: 200px;
  }

.slider-container{
    margin: 0 auto;
    overflow-x: hidden;
    /* border: 1px solid red; */
}

.slider{
    display: flex;
    cursor: grab;
}

.item{
    height: 40rem;
    max-width: 30rem;
    padding: 2rem;
}

.item img{
    height: 100%;
    width: 100%;
}
